<!DOCTYPE html>
<html>
  <head>
    <title>원주민공포만화</title>
    <% include ../parts/option %>
    <meta data-n-head="true" charset="utf-8">
    <meta data-n-head="true" name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/addmystyle.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>
    <script type="text/javascript">
        $(function(){
        var rtn_flg = new Array();
        var windowHeight = $( window ).height();
        var windowWidth = $( window ).width();
           $("#screenHeight").css("height",windowHeight - $("#footer").outerHeight());
           //$("#screenHeight").css("width",windowWidth);
           if(windowWidth < 768){
                $("#screenHeight").css("width","100%");
            }else{
                $("#screenHeight").css("width","50%");
            }
           $( window ).resize(function() {
                var windowWidthre = $( window ).width();
                if(windowWidthre < 768){
                    $("#screenHeight").css("width","100%");
                }else{
                    $("#screenHeight").css("width","50%");
                }
            });

            $("#logo-onejumin").click(function(){
                window.location = "/"
            })
        })
     
    </script>
  </head>
  <body>
    <div class="container">
        <div id="screenHeight" style="width:30%; margin:0 auto; display: table">
            <div id="screenHeightInner" style="width:100%; height: 50%; display: table-cell; vertical-align: middle;">
                <div class="form-group-onejumin" id="logo-onejumin" style="cursor: pointer">
                    <h4>원주민 공포만화</h4>
                </div>
                <div class="form-group" style="padding :15px ; border: 1px solid #e6e6e6; background-color: #fafafa">
                    <form class="form-horizontal" id="f_email_send"  action="/users/email_send" method="post">
                        <fieldset>
                            <legend>이메일 인증 대기</legend>
                            <p>가입요청한 메일함에서 이메일 인증을 진행해주시기 바랍니다.(2시간 이내)</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% include ../parts/footer %>
  </body>
</html>
