<!DOCTYPE html>
<html>
  <head>
        <title>원주민공포만화</title>
        <% include ../parts/option %>
  </head>
  <body>
    <div class="container">
        <div class="text-center">
            <div class="div_footer-onejumin">
                삭제된 게시판입니다.
            </div>
        </div>
    </div>
  </body>
</html>
